<!-- Footer -->
<footer class="fixed-bottom bg-dark">

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">
            <p > Oscar Villamizar - {{getanio}}</p>
          </div>
          <!-- Copyright -->

</footer>
</body>
</html>
        <!-- Footer -->


<style>

	footer {

		bottom : 0;
		position: fixed;
		color: white;
	}
</style>