
{{> head }}
{{> navbar }}
<div class="container">
<div class="row">
	<div class="col-8">
		<p> ventana nueva </p>

	</div>
	<div class="col-4">
		<h3> ver ventana</h3>	
	</div>

</div>

</div>
{{> footer }}
